<nav style="max-width: 960px; margin: 0 auto; padding: 0 1rem 1rem;">
  <a href="{{ '/' | relative_url }}" style="margin-right: 1rem;">Home</a>
  <a href="{{ '/about/' | relative_url }}" style="margin-right: 1rem;">About</a>
  <a href="{{ '/equipment/' | relative_url }}" style="margin-right: 1rem;">Equipment</a>
  <a href="{{ '/antennas/' | relative_url }}" style="margin-right: 1rem;">Antennas</a>
  <a href="{{ '/study-notes/' | relative_url }}" style="margin-right: 1rem;">Study Notes</a>
  <a href="{{ '/logbooks/' | relative_url }}" style="margin-right: 1rem;">Logbooks</a>
  <a href="{{ '/qsl-info/' | relative_url }}" style="margin-right: 1rem;">QSL Info</a>
  <a href="{{ '/links/' | relative_url }}">Links</a>
</nav>
<hr style="max-width: 960px;">
