<nav style="max-width: 960px; margin: 0 auto; padding: 0 1rem 1rem;">
  <a href="/" style="margin-right: 1rem;">Home</a>
  <a href="/about/" style="margin-right: 1rem;">About</a>
  <a href="/equipment/" style="margin-right: 1rem;">Equipment</a>
  <a href="/antennas/" style="margin-right: 1rem;">Antennas</a>
  <a href="/study-notes/" style="margin-right: 1rem;">Study Notes</a>
  <a href="/logbooks/" style="margin-right: 1rem;">Logbooks</a>
  <a href="/qsl-info/" style="margin-right: 1rem;">QSL Info</a>
  <a href="/links/">Links</a>
</nav>
<hr style="max-width: 960px;">
