<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}

  {% if page.url == '/' or page.url == '/index.html' %}
  <body>
  {% else %}
  <body class="single">
  {% endif %}

    <div class="toTop">
      <i class="fas fa-angle-up"></i>
    </div>

    <div id="wrapper">

      {% include header.html %}

      <main class="page-content" aria-label="Content">
        <div id="main">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}

    </div>

    <!-- Scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ '/assets/js/skel.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/transition.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/targetblank.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/scrollTop.js' | relative_url }}"></script>

    {% if site.google_analytics %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>